<title><%= title %></title>
<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.css" />
<link rel='stylesheet' href='/css/main.css' />