<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/jquery.js"></script>
<script src="/assets/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>