//Custom variables and definitions must go before bootstrap-sass stylesheets
// --------------------------------------------------
@import "variables";
@import "mixins";
@import "fontface"; // @import "emoji";
@import "../../node_modules/font-awesome/scss/font-awesome.scss"; // --------------------------------------------------
html,body {
  width: 100%;
  height: 100%;
}
body {
  margin-top: 5rem;
  font-family: $font;
  background-color: $black;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
}

.hover,
a,
button,
i {
  @include transition(all .5s ease);

  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

.input-group-append,
.input-group-preppend {
  .fa {
    padding-top: 10px;
  }
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-screen {
  @extend .d-flex;
  @extend .justify-content-center;
  margin: auto;
  margin-top: 5%;
  .form-group {
    @extend .mb-3;
  }
  .message.invalid-feedback {
    margin-bottom: 0.5em;
  }
}

.navbar {
  @extend .navbar-expand-lg;
  @extend .fixed-top;
  @extend .navbar-dark;
  @extend .bg-black;
  @extend .mb-4;
  .navbar-nav {
    &.mr-auto {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $white;
        .nav-link {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
    .nav-link {
      color: $white;
      text-transform: uppercase;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .navbar-brand {
    font-family: $font-brand;
    font-size: 35px;
    letter-spacing: 1.5px;
  }
}

.input-group {
  i {
    color: $white;
  }
}

.custom-card-wrapper {
  > * {
    @extend .my-1;
  }
  .single {
    @extend .col-12;
    @extend .col-md-4;
    .card {
      @extend .bg-greenapple;
    }
  }

  .medium {
    @extend .col-12;
    @extend .col-md-6;
    .card {
      @extend .bg-pink;
    }
  }

  .full {
    @extend .col-12;
    .card {
      @extend .bg-primary;
    }
  }

  .card {
    min-height: 10rem;
    @extend .p-2;
  }

  @include media-breakpoint-between(xs, md) {
    .card {
      margin-top: 1em;
    }
  }
}

.card {
  @include border-radius(0);
  min-height: 255px;
  margin-bottom: 2rem;
  border-color: $pink;
  .card-img {
    @include background(center, no-repeat, cover);
    @include border-radius(0);
    height: 180px;
    position: relative;
  }
  .card-body {
    background-color: $black;
    color: $pink;
  }
  .card-title {
    position: absolute;
    color: $pink;
    background-color: $black;
    padding: 8px 12px;
    bottom: 0;
    margin: 0;
    font-size: 80%;
    text-transform: uppercase;
    font-family: $font-semibold-italic;
  }
}
