<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="login">
    <!-- navbar header -->
    <%- include('../partials/header') %>
    <!-- /.navbar header -->

    <!-- home content -->
    <div class="container">
      <div class="row ">
        <div class="col-12 col-md-4 login-screen">
          <div id="logo-container"></div>
          <form action="#home" id="loginForm">
            <div class="form-group">
              <label for="dni">Número de Documento</label>
              <div class="input-group">
                <input class="form-control" type="text" name='dni' id='dni' tabindex="1" />
                <div class="input-group-append"><i class="input-group-text fa fa-vcard"></i></div>
              </div>
              <div class="message invalid-feedback dni">
                <small class="">Debe introducir entre 4 y 11 caractéres alfanuméricos. Sin espacios, ni caractéres
                  especiales</small>
              </div>
            </div>
            <div class="form-group">
              <label for="username">Usuario</label>
              <div class="input-group">
                <input class="form-control" type="text" name='username' id='username' tabindex="2" />
                <span class="input-group-append"><i class="input-group-text fa fa-user"></i></span>
              </div>
              <div class="message invalid-feedback user">
                <small class="">Usuario inexistente</small>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <div class="input-group">
                <input class="form-control" type="password" name='password' id='password' tabindex="3" />
                <span class="input-group-append"><i class="input-group-text fa fa-lock"></i></span>
              </div>
              <div class="message invalid-feedback password">
                <small class="">Clave incorrecta</small>
              </div>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Recordar Número de Documento
              </label>
            </div>
            <div class="form-group">
              <button type="button" id="loginSubmit" class="btn btn-default btn-block" tabindex="4">Ingresar</button>
            </div>
            <div class="form-group text-center">
              <a href="#" tabindex="5">Obtené tu usuario</a>&nbsp;|&nbsp;<a href="#" tabindex="6">Recuperá tu
                usuario</a>|&nbsp;<a href="#" tabindex="6">Recuperá tu clave</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.home content -->

    <%- include('../partials/scripts') %>
  </body>
</html>
